$gorodokRed: #c23a3a;
$gorodokDarkRed: #734848;
$gorodokDarkerRed: #650B0B;
$gorodokRedCategory: #B6191C;
$gorodokDarkBlue: #122042;
$gorodokDarkerBlue: #172035;
$gorodokFooterBlue: #17264D;
$gorodokAboutPageTitle: #06153B;
$gorodokGray: #C4C4C4;
$gorodokLightGray: #F4F4F4;


* {
  border: 1px solid red;
}