* {
		border: 1px solid red;
}

@media screen and (max-width: 575px) {
		.is-header {
				overflow: hidden;
		}
		.is-header .is-navbar {
				background: #2b3141;
				position: relative;
		}
		.is-header .is-navbar.thin {
				background: #2b3141;
				position: fixed;
		}
		.is-header .is-navbar .navbar-brand img {
				max-height: 48px;
				margin-right: 1rem;
		}
		.is-header .is-navbar .navbar-brand span {
				display: none;
		}
		.is-header .is-navbar .desktop-menu-wrap {
				border-top: none;
		}
		.is-header .is-navbar .navbar-toggler svg {
				max-width: 24px;
				width: 100%;
				max-height: 24px;
		}
		.is-header .is-navbar-mobile {
				transition: all 0.5s ease-in-out;
				transform: translate(0%, 100%);
				width: 100% !important;
				position: fixed;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				opacity: 0;
				z-index: 300;
				padding: 1rem;
				display: block;
				background: #2b3141;
				overflow: hidden;
		}
		.is-header .is-navbar-mobile.show {
				transform: translate(0%);
				opacity: 1;
				transition: all 0.5s ease-in-out;
		}
		.is-header .is-navbar-mobile__divider {
				max-width: 80%;
				width: 100%;
				margin: 1rem auto;
				display: block;
				background: rgba(255, 255, 255, 0.5);
				height: 1px;
		}
		.is-header .is-navbar-mobile .navbar-brand {
				padding-top: 3rem;
				display: block;
				width: 100%;
				margin-right: 0;
				margin-bottom: 1rem;
		}
		.is-header .is-navbar-mobile .navbar-brand img {
				display: block;
				margin: 0 auto;
		}
		.is-header .is-navbar-mobile .navbar-brand span {
				display: block;
				margin: 0 auto;
				font-size: 1rem;
				text-align: center;
		}
		.is-header .is-navbar-mobile__contacts {
				display: block !important;
				width: 100%;
		}
		.is-header .is-navbar-mobile__contacts-wrapper {
				width: 100%;
		}
		.is-header .is-navbar-mobile__contacts__item {
				display: block;
				margin: 0 auto;
				text-align: center;
				margin-bottom: 1rem;
		}
		.is-header .is-navbar-mobile .desktop-menu-wrap .navbar-nav li {
				text-align: center;
		}

		.is-footer__menu {
				padding: 1.5rem 0;
		}
		.is-footer__social {
				padding: 0.5rem 0 1.5rem;
				display: flex;
				align-items: center;
				justify-content: space-around;
		}
		.is-footer__social .btn:first-child {
				margin-top: 1rem !important;
		}
		.is-footer__contacts-wrapper__content {
				padding: 1rem;
		}
		.is-footer__contacts-wrapper__content-title {
				position: relative;
				z-index: 1;
		}
		.is-footer__contacts-wrapper__content-item {
				position: relative;
				z-index: 1;
		}
		.is-footer__contacts-wrapper__content-item .link {
				margin-left: 0;
		}
		.is-footer__contacts-wrapper__content:after {
				transform: translate(0);
		}
		.is-footer__logo {
				min-height: auto;
		}
		.is-footer__logo-img {
				max-width: 100px;
				left: -1rem;
		}

		.is-main .section__order {
				margin-top: 2.5rem;
		}
		.is-main .section__order__block {
				display: block;
		}
		.is-main .section__order__block:before {
				display: none;
		}
		.is-main .section__order__block__title {
				text-align: center;
				font-size: 1.5rem;
				margin-bottom: 1rem;
		}
		.is-main .is-slider {
				min-height: 300px;
		}
		.is-main .is-slider .uk-slideshow .uk-slideshow-items li img {
				min-height: 800px;
		}
		.is-main .is-slider .uk-slideshow .uk-slideshow-items li .uk-position-center h2 {
				font-size: 1.75rem;
		}
		.is-main .is-slider .uk-slideshow .uk-slideshow-items li .uk-position-center p {
				font-size: 1.25rem;
				line-height: 1.5rem;
		}
		.is-main .is-slider__btn {
				font-size: 1rem;
				padding: 0.5rem 3rem;
				margin-top: 1.5rem;
		}
		.is-main .is-slider__social {
				display: none;
		}
		.is-main .is-slider__mouse {
				max-width: 124px;
				bottom: calc(0% - 100px);
				z-index: 100;
		}
		.is-main .is-slider .uk-dotnav {
				display: none;
		}
		.is-main .is-working {
				padding-top: 2.5rem;
		}
		.is-main .is-working h2 {
				margin-bottom: 2rem;
		}
		.is-main .is-working__round-right {
				display: none;
		}
		.is-main .is-about__wrapper {
				padding: 2rem 0;
		}
		.is-main .is-about__wrapper__info {
				justify-content: center;
		}
		.is-main .is-about__wrapper__info-title {
				text-align: center;
		}
		.is-main .is-about__wrapper__info-content {
				margin-top: 2rem;
		}
		.is-main .is-about__wrapper-cards__card {
				position: relative;
				z-index: 2;
		}
		.is-main .is-about__wrapper-cards__card-btn:hover {
				box-shadow: inset 40em 0 0 0 #122042;
		}
		.is-main .is-about__logo-left {
				opacity: 0.25;
		}
		.is-main .is-about__line-bold {
				display: none;
		}
		.is-main .is-about__line-thin {
				display: none;
		}
		.is-main .is-trust__wrapper {
				padding: 2rem;
		}
		.is-main .is-trust__wrapper-slider .uk-dotnav li {
				margin-bottom: 1rem;
		}
		.is-main .is-news__line-bold {
				display: none;
		}
		.is-main .is-news__line-thin {
				display: none;
		}

		.page .is-header .is-navbar {
				background: #2b3141;
		}
		.page .is-main .is-theader {
				padding-top: 1rem;
		}
		.page .is-main .is-main-about {
				padding-top: 1rem;
				padding-bottom: 2rem;
				background: none;
		}
		.page .is-main .is-main-about .is-theader {
				padding-top: 0;
		}
		.page .is-main .is-main-about .is-about__content {
				margin-top: 0;
		}
		.page .is-main .is-main-about .is-about__content-video {
				padding-left: 1rem;
				margin-top: 1rem;
		}
		.page .is-main .is-main-about .is-about__content-bgi {
				display: none;
		}
		.page .is-main .is-records {
				padding-top: 0.5rem;
		}
		.page .is-main .is-records__cards {
				padding-bottom: 2rem;
		}
		.page .is-main .is-records__cards-circle {
				max-width: none;
				height: auto;
				padding: 3rem;
		}
		.page .is-main .is-records__cards-circle__wrapper {
				order: 1;
				margin-top: 0;
				margin-bottom: 2rem;
		}
		.page .is-main .is-records__cards-circle__inner {
				max-width: 300px;
				height: 300px;
		}
		.page .is-main .is-records__cards-square__wrapper {
				margin-top: 1rem;
		}
		.page .is-main .is-records__cards-square__wrapper:nth-child(1) {
				order: 2;
		}
		.page .is-main .is-records__cards-square__wrapper:nth-child(2) {
				order: 3;
		}
		.page .is-main .is-records__cards-square__wrapper:nth-child(5) {
				order: 5;
		}
		.page .is-main .is-records__cards-square__wrapper:nth-child(4) {
				order: 4;
		}
		.page .is-main .is-records__round-right {
				display: none;
		}
		.page .is-main .is-work__cards-card {
				border-top: none !important;
				border-left: 3px dashed rgba(255, 255, 255, 0.5);
				border-radius: 50% 0% 0 50%;
				padding-bottom: 2rem;
				border-bottom: none;
		}
		.page .is-main .is-work__cards-card:nth-child(2n) {
				border-top: none;
				border-right: 3px dashed rgba(255, 255, 255, 0.5);
				border-radius: 0 50% 50% 0;
				padding-bottom: 2rem;
				margin-top: 0;
				border-bottom: none;
				border-left: none;
		}
		.page .is-main .is-work__cards-card:nth-child(4) {
				order: 4;
		}
		.page .is-main .is-work__cards-card:nth-child(5) {
				order: 5;
		}
		.page .is-main .is-work__cards-card:nth-child(6) {
				order: 6;
		}
		.page .is-main .is-work__cards-card:nth-child(7) {
				border-top: none;
		}
		.page .is-main .is-work__banner-title {
				font-size: 2rem;
				text-align: center;
		}
		.page .is-main .is-work__banner-wrapper {
				padding: 3rem 1.5rem;
				z-index: 40;
		}
		.page .is-main .is-work__banner-wrapper .d-block {
				width: 100%;
		}
		.page .is-main .is-work__banner-btn {
				display: block;
				width: 100%;
				text-align: center;
		}
		.page .is-main .is-work__line-bold {
				top: 2rem;
				left: 1rem;
		}
		.page .is-main .is-reviews {
				padding: 4rem 0;
		}
		.page .is-main .is-reviews__title {
				line-height: 2rem;
		}
		.page .is-main .is-reviews__slider-wrapper .uk-slider-items li {
				width: 100%;
		}
		.page .is-main .is-reviews__line-thin {
				top: -80px;
		}
		.page .is-main .is-contacts {
				padding-bottom: 0;
		}
		.page .is-main .is-contacts__form {
				margin-top: 1rem;
				padding: 2rem 0;
		}
		.page .is-main .is-contacts__form-title {
				margin-bottom: 1rem;
		}
		.page .is-main .is-contacts__form form {
				display: block !important;
		}
		.page .is-main .is-contacts__form-input {
				margin-bottom: 1rem;
				height: 60px;
		}
		.page .is-main .is-contacts__map {
				margin-top: 0;
		}

		.category .is-header .is-navbar {
				background: #2b3141;
		}
		.category .is-main {
				overflow-x: hidden;
		}
		.category .is-main .is-theader {
				padding-top: 1rem;
		}
		.category .is-main .is-catlist {
				padding: 1rem;
		}

		.single .is-category-title {
				padding: 2rem 0rem 5rem !important;
		}
		.single .is-category-title__title {
				text-align: center !important;
				font-size: 1.5rem !important;
		}
		.single .is-category-title__dropdown {
				margin-top: 2rem;
		}
		.single .is-category-products {
				padding-bottom: 4rem !important;
		}
		.single .is-category-products__card:first-child {
				margin-top: 2rem !important;
		}
		.single .is-category-products__card-portfolio .col-lg-12.d-flex.justify-content-center {
				display: block !important;
		}
		.single .is-category-products__card-btn {
				display: block;
				text-align: center;
				margin-top: 1rem !important;
		}
		.single .is-category-products__card-bbtn {
				display: block;
				text-align: center;
				margin-top: 1rem !important;
		}
		.single .is-category-products__line-bold {
				display: none;
		}
		.single .is-category-products__line-thin {
				display: none;
		}
}
@media screen and (min-width: 576px) and (max-width: 767px) {
		.is-header {
				overflow: hidden;
		}
		.is-header .is-navbar {
				background: #2b3141;
				position: relative;
		}
		.is-header .is-navbar.thin {
				background: #2b3141;
				position: fixed;
		}
		.is-header .is-navbar .navbar-brand img {
				max-height: 48px;
				margin-right: 1rem;
		}
		.is-header .is-navbar .navbar-brand span {
				display: none;
		}
		.is-header .is-navbar .desktop-menu-wrap {
				border-top: none;
		}
		.is-header .is-navbar .navbar-toggler svg {
				width: 100%;
				height: 24px;
		}
		.is-header .is-navbar-mobile {
				transition: all 0.5s ease-in-out;
				transform: translate(0%, 100%);
				width: 100% !important;
				position: fixed;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				opacity: 0;
				z-index: 300;
				padding: 1rem;
				display: block;
				background: #2b3141;
				overflow: hidden;
		}
		.is-header .is-navbar-mobile.show {
				transform: translate(0%);
				opacity: 1;
				transition: all 0.5s ease-in-out;
		}
		.is-header .is-navbar-mobile__divider {
				max-width: 80%;
				width: 100%;
				margin: 1rem auto;
				display: block;
				background: rgba(255, 255, 255, 0.5);
				height: 1px;
		}
		.is-header .is-navbar-mobile .navbar-brand {
				padding-top: 3rem;
				display: block;
				width: 100%;
				margin-right: 0;
				margin-bottom: 1rem;
		}
		.is-header .is-navbar-mobile .navbar-brand img {
				display: block;
				margin: 0 auto;
		}
		.is-header .is-navbar-mobile .navbar-brand span {
				display: block;
				margin: 0 auto;
				font-size: 1rem;
				text-align: center;
		}
		.is-header .is-navbar-mobile__contacts {
				display: block !important;
				width: 100%;
		}
		.is-header .is-navbar-mobile__contacts-wrapper {
				width: 100%;
		}
		.is-header .is-navbar-mobile__contacts__item {
				display: block;
				margin: 0 auto;
				text-align: center;
				margin-bottom: 1rem;
		}
		.is-header .is-navbar-mobile .desktop-menu-wrap .navbar-nav li {
				text-align: center;
		}

		.is-footer .container {
				max-width: 767px;
		}
		.is-footer__menu {
				padding: 1.5rem 0;
		}
		.is-footer__social {
				padding: 0.5rem 0 1.5rem;
				display: flex;
				align-items: center;
				justify-content: space-around;
		}
		.is-footer__social .btn:first-child {
				margin-top: 1rem !important;
		}
		.is-footer__contacts-wrapper__content {
				padding: 1rem;
		}
		.is-footer__contacts-wrapper__content-title {
				position: relative;
				z-index: 1;
		}
		.is-footer__contacts-wrapper__content-item {
				position: relative;
				z-index: 1;
		}
		.is-footer__contacts-wrapper__content-item .link {
				margin-left: 0;
		}
		.is-footer__contacts-wrapper__content:after {
				transform: translate(0);
		}
		.is-footer__logo {
				min-height: auto;
		}
		.is-footer__logo-img {
				max-width: 100px;
				left: -1rem;
		}

		.is-main .section__order {
				margin-top: 2.5rem;
		}
		.is-main .section__order__block {
				display: block;
		}
		.is-main .section__order__block:before {
				display: none;
		}
		.is-main .section__order__block__title {
				text-align: center;
				font-size: 1.5rem;
				margin-bottom: 1rem;
		}
		.is-main .section__order__block__btn {
				width: 100%;
		}
		.is-main .is-slider {
				min-height: 300px;
		}
		.is-main .is-slider .uk-slideshow .uk-slideshow-items li img {
				min-height: 800px;
		}
		.is-main .is-slider .uk-slideshow .uk-slideshow-items li .uk-position-center h2 {
				font-size: 1.75rem;
		}
		.is-main .is-slider .uk-slideshow .uk-slideshow-items li .uk-position-center p {
				font-size: 1.25rem;
				line-height: 1.5rem;
		}
		.is-main .is-slider__btn {
				font-size: 1rem;
				padding: 0.5rem 3rem;
				margin-top: 1.5rem;
		}
		.is-main .is-slider__social {
				display: none;
		}
		.is-main .is-slider__mouse {
				max-width: 124px;
				bottom: calc(0% - 100px);
				z-index: 100;
		}
		.is-main .is-slider .uk-dotnav {
				display: none;
		}
		.is-main .is-working {
				padding-top: 2.5rem;
		}
		.is-main .is-working h2 {
				margin-bottom: 2rem;
		}
		.is-main .is-working__round-right {
				display: none;
		}
		.is-main .is-about__wrapper {
				padding: 2rem 0;
		}
		.is-main .is-about__wrapper__info {
				justify-content: center;
		}
		.is-main .is-about__wrapper__info-title {
				text-align: center;
		}
		.is-main .is-about__wrapper__info-content {
				margin-top: 2rem;
		}
		.is-main .is-about__wrapper-cards__card {
				position: relative;
				z-index: 2;
		}
		.is-main .is-about__wrapper-cards__card-btn:hover {
				box-shadow: inset 40em 0 0 0 #122042;
		}
		.is-main .is-about__logo-left {
				opacity: 0.25;
		}
		.is-main .is-about__line-bold {
				display: none;
		}
		.is-main .is-about__line-thin {
				display: none;
		}
		.is-main .is-trust__wrapper {
				padding: 2rem;
		}
		.is-main .is-trust__wrapper-slider .uk-dotnav li {
				margin-bottom: 1rem;
		}
		.is-main .is-news__line-bold {
				display: none;
		}
		.is-main .is-news__line-thin {
				display: none;
		}

		.page .is-header .is-navbar {
				background: #2b3141;
		}
		.page .is-main .is-theader {
				padding-top: 1rem;
		}
		.page .is-main .is-main-about {
				padding-top: 1rem;
				padding-bottom: 2rem;
				background: none;
		}
		.page .is-main .is-main-about .is-theader {
				padding-top: 0;
		}
		.page .is-main .is-main-about .is-about__content {
				margin-top: 0;
		}
		.page .is-main .is-main-about .is-about__content-video {
				padding-left: 1rem;
				margin-top: 1rem;
		}
		.page .is-main .is-main-about .is-about__content-bgi {
				display: none;
		}
		.page .is-main .is-records {
				padding-top: 0.5rem;
		}
		.page .is-main .is-records__cards {
				padding-bottom: 2rem;
		}
		.page .is-main .is-records__cards-circle {
				max-width: none;
				height: auto;
				padding: 3rem;
				width: 100%;
		}
		.page .is-main .is-records__cards-circle__wrapper {
				order: 1;
				margin-top: 0;
				margin-bottom: 2rem;
		}
		.page .is-main .is-records__cards-circle__inner {
				max-width: 550px;
				width: 100%;
		}
		.page .is-main .is-records__cards-square__wrapper {
				margin-top: 1rem;
		}
		.page .is-main .is-records__cards-square__wrapper:nth-child(1) {
				order: 2;
		}
		.page .is-main .is-records__cards-square__wrapper:nth-child(2) {
				order: 3;
		}
		.page .is-main .is-records__cards-square__wrapper:nth-child(5) {
				order: 5;
		}
		.page .is-main .is-records__cards-square__wrapper:nth-child(4) {
				order: 4;
		}
		.page .is-main .is-records__round-right {
				display: none;
		}
		.page .is-main .is-work__cards-card {
				border-top: none !important;
				border-left: 3px dashed rgba(255, 255, 255, 0.5);
				border-radius: 50% 0% 0 50%;
				padding-bottom: 2rem;
				border-bottom: none;
		}
		.page .is-main .is-work__cards-card:nth-child(2n) {
				border-top: none;
				border-right: 3px dashed rgba(255, 255, 255, 0.5);
				border-radius: 0 50% 50% 0;
				padding-bottom: 2rem;
				margin-top: 0;
				border-bottom: none;
				border-left: none;
		}
		.page .is-main .is-work__cards-card:nth-child(4) {
				order: 4;
		}
		.page .is-main .is-work__cards-card:nth-child(5) {
				order: 5;
		}
		.page .is-main .is-work__cards-card:nth-child(6) {
				order: 6;
		}
		.page .is-main .is-work__cards-card:nth-child(7) {
				border-top: none;
		}
		.page .is-main .is-work__banner-title {
				font-size: 2rem;
				text-align: center;
		}
		.page .is-main .is-work__banner-wrapper {
				padding: 3rem 1.5rem;
				z-index: 40;
		}
		.page .is-main .is-work__banner-wrapper .d-block {
				width: 100%;
		}
		.page .is-main .is-work__banner-btn {
				display: block;
				width: 100%;
				text-align: center;
		}
		.page .is-main .is-work__line-bold {
				top: 2rem;
				left: 1rem;
		}
		.page .is-main .is-reviews {
				padding: 4rem 0;
		}
		.page .is-main .is-reviews__title {
				line-height: 2rem;
		}
		.page .is-main .is-reviews__slider-wrapper .uk-slider-items li {
				width: 100%;
		}
		.page .is-main .is-reviews__slider-wrapper .is-trust__wrapper-slider__navs {
				margin-top: 4rem;
		}
		.page .is-main .is-reviews__line-thin {
				top: -80px;
		}
		.page .is-main .is-contacts {
				padding-bottom: 0;
		}
		.page .is-main .is-contacts__form {
				margin-top: 1rem;
				padding: 2rem 0;
		}
		.page .is-main .is-contacts__form-title {
				margin-bottom: 1rem;
		}
		.page .is-main .is-contacts__form form {
				display: block !important;
		}
		.page .is-main .is-contacts__form-input {
				margin-bottom: 1rem;
				height: 60px;
		}
		.page .is-main .is-contacts__map {
				margin-top: 0;
		}

		.category .is-header .is-navbar {
				background: #2b3141;
		}
		.category .is-main {
				overflow-x: hidden;
		}
		.category .is-main .is-theader {
				padding-top: 1rem;
		}
		.category .is-main .is-catlist {
				padding: 1rem;
		}

		.single .is-category-title {
				padding: 2rem 0rem 5rem !important;
		}
		.single .is-category-title__title {
				text-align: center !important;
				font-size: 1.5rem !important;
		}
		.single .is-category-title__dropdown {
				margin-top: 2rem;
		}
		.single .is-category-products {
				padding-bottom: 4rem !important;
		}
		.single .is-category-products__card:first-child {
				margin-top: 2rem !important;
		}
		.single .is-category-products__card-portfolio .col-lg-12.d-flex.justify-content-center {
				display: block !important;
		}
		.single .is-category-products__card-btn {
				display: block;
				text-align: center;
				margin-top: 1rem !important;
		}
		.single .is-category-products__card-bbtn {
				display: block;
				text-align: center;
				margin-top: 1rem !important;
		}
		.single .is-category-products__line-bold {
				display: none;
		}
		.single .is-category-products__line-thin {
				display: none;
		}
}
/*# sourceMappingURL=media.css.map */